.App {
  width: 100vw;
  height: 100vh;
}

.Weather {
  position: absolute;
  z-index: 2;
  width: 100vw;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    120deg,
    rgba(41, 128, 185, 0.7),
    rgba(142, 68, 173, 0.7)
  );
  justify-content: center;
  height: 100vh;
}
